body {
  font-family: Helvetica;
  color: #333333;
  background-color: #fffef7;
  font-size: 16px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: 75% auto;
}

.content {
  max-width: 800px;
}

.menu {
  text-align: right;
}

.title {
  margin-bottom: 5px;
}


@media only screen and (max-width: 600px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: auto;
  }

  .content {
    /* Pushes content below menu */
    order: 1;
  }

  .menu {
    margin-bottom: 20px;
  }
  .menu-items {
    width: 80%;
  }
  .menu-items div {
    float: left;
    margin-right: 15px;
  }

  .title {
    float: right;
  }
}

blockquote {
  margin-left: 32px;
  border-left: 4px solid #CCC;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.01);
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}